/* style.css */
@font-face {
    font-family: 'GameFont';
    src: url('../assets/fonts/RasterForgeRegular-JpBgm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Prevent scrolling on mobile */
}

#game-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    /* Enforce vertical mobile ratio */
    aspect-ratio: 9 / 16;
    max-height: 100vh;
    max-width: 100vw;
    background-color: #222;
    /* Prevent default touch actions like pinch-to-zoom or scrolling */
    touch-action: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}